<%- layout('layout/boilerplate') %>

<div class="container my-5">
    <h1>All Campgrounds</h1>
    
    <% for( let campground of campgrounds) { %>
        <div class="card mb-2 ps-md-3">
            <div class="row">
                <div class="col-12 col-md-4 d-flex align-items-center">
                    <img src="<%=campground.image%>" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %> </h5>
                        <p class="card-text"><span class="text-muted"><%= campground.location %> </span></p>
                        <p class="card-text"><%= campground.description %> </p>
                        <p class="card-text">PRICE: $<%=campground.price%></p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary p-2">View <%= campground.title %> </a>
                    </div>
                </div>

            </div>
        </div>
    <% } %>
</div>
